<div class="countainer ">
  <div class="col-12 ">
    <div class="card mb-1 ">

      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="{{col.photoUrl}}" alt="photo">
          </div>
          <div class="col-9">
            <dl class="row">
              <dt class=" col-6">Matricule</dt>
              <dd class="col-6">{{col.matricule}}</dd>

              <dt class="col-6">Nom</dt>
              <dd class="col-6">{{col.nom | uppercase}}</dd>

              <dt class="col-6">Prénoms</dt>
              <dd class="col-6">{{col.prenoms}}</dd>


              <dt class="col-6">Date de naissance</dt>
              <dd class="col-6">{{col.dateDeNaissance | date:'ddMMyyyy'}}</dd>
              <div *ngIf="modifier;else elseBlock1" class="col-12">

                <dl class="row">
                  <dt class="col-6">Email</dt>
                  <dd class="col-6">{{col.email}}</dd>
                </dl>
              </div>

              <ng-template #elseBlock1>
                <div class="form-group col-12">
                  <dl class="row">
                    <dt class="col-6"><label for="email">Email</label></dt>
                    <dd class="col-6"><input type="email" class="form-control" id="email" name="email"
                        aria-describedby="emailHelp"></dd>
                    <dt class="col-6"><label for="photoUrl">Photo url</label></dt>
                    <dd class="col-6"><input type="photoUrl" class="form-control" id="photoUrl" name="photoUrl"></dd>
                  </dl>
                </div>
              </ng-template>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="modifier; else elseBlock2" class="row">
    <div  class="col-4 ">
      <a href="#" (click)="ajouterCollegue()" >Créer un nouveau collègue</a>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-dark" (click)="modifierCollegue(col)">Modifier</button>
    </div>
  </div>
  <ng-template #elseBlock2>

    <div class="col-4 offset-4">
      <button type="button" class="btn btn-dark">Valider</button>
    </div>

  </ng-template>
</div>
